@media (min-width: 716px) {
  .slider-m {
    position: relative;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-m {
    height: 800px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 428px) and (orientation: landscape) {
  .slider-iphone-landscape {
    position: relative;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-iphone-landscape {
    height: 200px;
    width: 475px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
  }
}

@media (max-width: 1024) {
  .slider-l {
    position: relative;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-l {
    width: 1000px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
  }
}

.slider {
  position: relative;
  height: 100%;
  /* Set height to 100% to make it full height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderhover {
  scale: 105;
}

.image {
  width: max-content;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
}

.imagehover {
  scale: 1.05;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: rgba(206, 206, 206, 0.5);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgba(206, 206, 206, 0.5);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}